<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div class="container">
    <form th:action="@{/products}" method="post" th:object="${productModel.product}" id="productForm">
        <input type="hidden" id="productId" name="id" th:value="*{id}">
        <div class="form-group">
            <label for="name" class="col-form-label">产品名称</label>
            <input type="text" class="form-control" id="name" name="name" th:value="*{name}" maxlength="50"
                   placeholder="请输入名称">
        </div>
        <div class="form-group">
            <label for="name" class="col-form-label">产品类型</label>
            <input type="text" class="form-control" id="type" name="type" th:value="*{type}" maxlength="50"
                   placeholder="请输入产品类型">
        </div>
        <div class="form-group">
            <label for="scale" class="col-form-label">产品规模</label>
            <input type="text" class="form-control" id="scale" name="scale" th:value="*{scale}" maxlength="50"
                   placeholder="请输入产品规模">
        </div>
        <div class="form-group">
            <label for="startmoney" class="col-form-label">起投金额</label>
            <input type="text" class="form-control" id="startmoney" name="startmoney" th:value="*{startmoney}" maxlength="50"
                   placeholder="请输入起投金额">
        </div>
        <div class="form-group">
            <label for="invetmentperiod" class="col-form-label">投资期限</label>
            <input type="text" class="form-control" id="invetmentperiod" name="invetmentPeriod" th:value="*{invetmentPeriod}" maxlength="50"
                   placeholder="请输入投资期限">
        </div>
        <div class="form-group">
            <label for="performance" class="col-form-label">业绩比较基准</label>
            <input type="text" class="form-control" id="performance" name="performance" th:value="*{performance}" maxlength="50"
                   placeholder="请输入业绩比较标准">
        </div>
        <div class="form-group">
            <label for="startDate" class="col-form-label">起售日期</label>
            <input type="date" class="form-control" id="startDate" name="startDate" th:value="*{startDate}" maxlength="50"
                   placeholder="请输入起售日期">
        </div>

        <div class="form-group">
            <label for="catalog" class="col-form-label">选择分类</label>
            <select id="catalog" name="pcatalogId" class="form-control" data-placeholder="请选择">
                <option value="1">私募基金</option>
                <option value="2">公募基金</option>
                <option value="3">现金管理</option>
                <option value="4">类固收</option>
                <option value="5">其他</option>
                <option value="6">基金</option>
                <option value="7">股票</option>
                <option value="8">海外资产配置</option>
                <option value="9">系列课</option>
                <option value="10">其他</option>
            </select>
        </div>
    </form>
</div>
</body>
</html>