<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div class="container">
    <form th:action="@{/users}" method="post" th:object="${userModel.user}" id="userForm">
        <input type="hidden" name="id" th:value="*{id}">
        <div class="form-group">
            <label for="username" class="col-form-label">用户名</label>
            <input type="text" class="form-control" id="username" name="username" maxlength="50"
                   placeholder="请输入账号,至少3个字符">
        </div>
        <div class="form-group">
            <label for="password" class="col-form-label">密码</label>
            <input type="text" class="form-control" id="password" name="password" maxlength="50"
                   placeholder="请输入账号,至少3个字符">
        </div>
        <div class="form-group">
            <label for="phonenum" class="col-form-label">手机号</label>
            <input type="text" class="form-control" id="phonenum" name="phonenum" maxlength="30">
        </div>
        <div class="form-group">
            <label for="disabled" class="col-form-label">禁用</label>
            <input type="text" class="form-control" id="disabled" name="disableds" maxlength="30">
        </div>
        <div class="form-group">
            <label for="authorities" class="col-form-label">权限</label>
            <select id="authorities" name="authorityId" class="form-control" data-placeholder="请选择">
                <option value="1">管理员</option>
                <option value="2">销售</option>
                <option value="3">顾客</option>
            </select>
        </div>
    </form>
</div>
</body>
</html>