<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <div th:replace="js/ckeditorFileUploadAdapter"></div>

    <script th:src="@{/js/jquery.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/thymeleaf-bootstrap-paginator.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap/css/bootstrap.min.css}">
    <script th:src="@{/lib/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/js/admin/main.js}"></script>
    <script th:src="@{/js/ckeditor/ckeditor.js}"></script>
    <script th:src="@{/js/thymeleaf-bootstrap-paginator.js}"></script>
    <script th:src="@{/js/toastr.min.js}"></script>
</head>
<body>
<div class="container blog-content-container">

    <div class="row">

        <!-- 左侧栏目 -->
        <div class="col-md-3 col-xl-3">


            <!-- 分类 -->
            <div class="card ">
                <h5 class="card-header">菜单</h5>

                <ul class="list-group blog-menu" th:each="menu:${menuList.list}">
                    <a href="javascript:void(0)" class="list-group-item" th:title="${menu.name}" th:text="${menu.name}" th:attr="url=${menu.url}">
                        用户管理
                    </a>

                </ul>
            </div>

        </div>



        <!-- 右侧栏目 -->


        <div class="col-md-9 col-xl-9">
            <div class="card" id="rightContainer" style="width: 950px">
            </div>
        </div>
    <!-- /.row -->
    </div>
</div>
<!-- /.container -->


</body>
</html>
