<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" th:href="@{/lib/bootstrap/css/bootstrap.css}">
    <script th:src="@{/lib/cropperjs/cropper.min.js}"></script>
    <script th:src="@{/lib/bootstrap/js/bootstrap.js}"></script>

    <script type="application/javascript" th:src="@{/js/vue/vue.js}"></script>

</head>
<body>


<ul th:each="course:${allcourse}">

    <div class="container" >
        <div class="card mb-3" id="courseitem">
            <div class="d-flex align-items-center row no-gutters">
                <div class="col-4" style="padding-left: 5px">
                    <img th:src="${course.pictureuri}" alt="">
                </div>
                <div class="col-8">
                    <div class="card-body">


                        <a th:href="@{'/course/'+course.id}"></a>
                        <p class="card-text text-muted">
                            <small id="coursesummary" th:text="${course.summary}"></small>
                        </p>
                        <p class="card-text text-muted">
                            <small id="courseteacher" th:text="${course.teacher}"></small>
                        </p>
                        <p class="card-text text-right">
                            <small class="text-muted">播放量：<span
                                    id="coursesumplay" th:text="${course.sumplay}"></span>
                                &nbsp;&nbsp;收藏量：<span id="coursesumstar" th:text="${course.sumstar}"></span></small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ul>



</body>
</html>