<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div>
<textarea name="htmlContent" id="ck_editor" th:value="*{htmlContent}"></textarea>
<script>


    var editor;

    ClassicEditor
        .create(document.querySelector('#ck_editor')).then(newEditor => {

        editor=newEditor;

        newEditor.plugins.get('FileRepository').createUploadAdapter = (loader) => {
            return new UploadAdapter(loader);
        };

    }).catch(error => {
        console.error(error);
    });


</script>
<style>
    .ck-editor__editable {
        min-height: 200px !important;
    }
</style>
</div>