<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
    <link rel="stylesheet" th:href="@{/css/weui/weui.css}">
    <script th:src="@{/js/jquery.js}"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
</head>
<body>


<div class="weui-tab" style="position: absolute;bottom:0px;width: 100%">
    <div class="weui-search-bar" id="searchBar">
        <form class="weui-search-bar__form" onkeydown="if(event.keyCode==13) return false;">
            <div class="weui-search-bar__box">
                <i class="weui-icon-search"></i>
                <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索"
                       required="">
                <a href="javascript:clear()" class="weui-icon-clear" id="searchClear"></a>
            </div>
            <label class="weui-search-bar__label" id="searchText">
                <i class="weui-icon-search"></i>
                <span>请输入你想要查看的关键字</span>
            </label>
        </form>
        <a href="javascript:cancel()" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
    </div>
    <!--搜索框-->


    <!--    对应四个页面-->
    <div class="weui-tab__panel" id="pagecontent">

        <!--        js 初始化-->
    </div>
    <!--    底部 tabbar-->

    <div class="weui-tabbar">
        <a href="javascript:showhome();" class="weui-tabbar__item weui-bar__item_on" id="homea">
            <img th:src="@{/img/star.png}" alt="" class="weui-tabbar__icon">
            <p class="weui-tabbar__label">首页</p>
        </a>
        <a href="javascript:showproductservice();" class="weui-tabbar__item" id="productservicea">
            <img th:src="@{/img/star.png}" alt="" class="weui-tabbar__icon">
            <p class="weui-tabbar__label">产品与服务</p>
        </a>
        <a href="javascript:showcourse();" class="weui-tabbar__item" id="coursea">
            <img th:src="@{/img/star.png}" alt="" class="weui-tabbar__icon">
            <p class="weui-tabbar__label">课程</p>
        </a>
        <a href="javascript:showmyself();" class="weui-tabbar__item" id="myselfa">
            <img th:src="@{/img/star.png}" alt="" class="weui-tabbar__icon">
            <p class="weui-tabbar__label">我的</p>
        </a>
    </div>
</div>


<script>

    var homeinited = false;
    var productserviceinited = false;
    var coursepageinited = false;
    var myselfinited = false;

    var homeframeuri = "/home"
    var productserviceframeuri = "/productservice"
    var coursepageframeuri = "/course"
    var myselfframeuri = "/myself"


    function showcontent(url) {

        $.ajax({
            url,
            success: function (data) {
                $("#pagecontent").html(data);
            }
            , error: function (data) {
                var responsejson = JSON.parse(data.responseText)
                console.log(responsejson);
                location.href = responsejson.url

            }
        })

    }


    function initpage(p) {
        $("#pagecontent").append(p)
    }

    function hideall() {


        $("#homea").removeClass("weui-bar__item_on")
        $("#productservicea").removeClass("weui-bar__item_on")
        $("#coursea").removeClass("weui-bar__item_on")
        $("#myselfa").removeClass("weui-bar__item_on")

    }

    function showhome() {
        showcontent(homeframeuri)

        hideall()
        $("#homepage").show()
        $("#homea").addClass("weui-bar__item_on")
    }

    function showproductservice() {
        showcontent(productserviceframeuri)

        hideall()
        $("#productservicepage").show()
        $("#productservicea").addClass("weui-bar__item_on")

    }

    function showcourse() {
        showcontent(coursepageframeuri)

        hideall()
        $("#coursepage").show()
        $("#coursea").addClass("weui-bar__item_on")

    }

    function showmyself() {
        showcontent(myselfframeuri)

        hideall()
        $("#myselfpage").show()
        $("#myselfa").addClass("weui-bar__item_on")

    }

    // 显示home
    showhome()

</script>
<script>
    $('#searchInput').bind('input propertychange', function () {
        var text = $("#searchInput").val();
        var reg = new RegExp("[\\u4E00-\\u9FFF]+", "g");
        if (reg.test(text)) {
            $('.weui-cell').each(function () {
                var $self = $(this);
                var flag = $self.text().search(text)
                if (flag > -1) {
                    $self.css("display", "");

                } else {
                    $self.css("display", "none");

                }
            });
        }
    });

    function cancel() {
        $('.weui-cell').css("display", "")

    }

    function clear() {
        $('#searchInput').val('')
        $('.weui-cell').css("display", "")
    }
</script>
</body>
</html>