<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
    <link rel="stylesheet" th:href="@{/css/weui/weui.css}">
    <script th:src="@{/js/jquery.js}"></script>
</head>
<body>


<div class="weui-tab" style="position: absolute;bottom:0px;width: 100%">
    <!--搜索框-->


    <!--    对应四个页面-->
    <div class="weui-tab__panel" id="pagecontent">
        <!--        js 初始化-->
    </div>
    <!--    底部 tabbar-->

    <div class="weui-tabbar">
        <a href="javascript:showhome();" class="weui-tabbar__item weui-bar__item_on" id="homea">
            <img th:src="@{/img/star.png}" alt="" class="weui-tabbar__icon">
            <p class="weui-tabbar__label">首页</p>
        </a>
        <a href="javascript:showproductservice();" class="weui-tabbar__item" id="productservicea">
            <img th:src="@{/img/star.png}" alt="" class="weui-tabbar__icon">
            <p class="weui-tabbar__label">产品与服务</p>
        </a>
        <a href="javascript:showcourse();" class="weui-tabbar__item" id="coursea">
            <img th:src="@{/img/star.png}" alt="" class="weui-tabbar__icon">
            <p class="weui-tabbar__label">课程</p>
        </a>
        <a href="javascript:showmyself();" class="weui-tabbar__item" id="myselfa">
            <img th:src="@{/img/star.png}" alt="" class="weui-tabbar__icon">
            <p class="weui-tabbar__label">我的</p>
        </a>
    </div>
</div>


<script>

    var homeinited = false;
    var productserviceinited = false;
    var coursepageinited = false;
    var myselfinited = false;


    var homeframe = '<iframe src="/home" frameborder="0" width="100%" height="100%" id="homepage"></iframe>'
    var productserviceframe = '<iframe src="/productservice" frameborder="0" width="100%" height="100%" id="productservicepage"></iframe>'
    var coursepageframe = '<iframe src="/course" frameborder="0" width="100%" height="100%" id="coursepage"></iframe>'
    var myselfframe = '<iframe src="/myself" frameborder="0" width="100%" height="100%" id="myselfpage"></iframe>'

    function initpage(p) {
        $("#pagecontent").append(p)
    }

    function hideall() {
        $("#homepage").hide()
        $("#productservicepage").hide()
        $("#coursepage").hide()
        $("#myselfpage").hide()

        $("#homea").removeClass("weui-bar__item_on")
        $("#productservicea").removeClass("weui-bar__item_on")
        $("#coursea").removeClass("weui-bar__item_on")
        $("#myselfa").removeClass("weui-bar__item_on")


    }

    function showhome() {
        if (homeinited == false) {
            initpage(homeframe)
            homeinited = true
        }
        hideall()
        $("#homepage").show()
        $("#homea").addClass("weui-bar__item_on")

    }

    function showproductservice() {
        if (productserviceinited == false) {
            initpage(productserviceframe)
            productserviceinited = true

        }
        hideall()
        $("#productservicepage").show()
        $("#productservicea").addClass("weui-bar__item_on")

    }

    function showcourse() {
        if (coursepageinited == false) {
            initpage(coursepageframe)
            coursepageinited = true

        }
        hideall()
        $("#coursepage").show()
        $("#coursea").addClass("weui-bar__item_on")

    }

    function showmyself() {
        if (myselfinited == false) {
            initpage(myselfframe)
            myselfinited = true
        }
        hideall()
        $("#myselfpage").show()
        $("#myselfa").addClass("weui-bar__item_on")

    }

    // 显示home
    showhome()

</script>
</body>
</html>