<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" th:href="@{/css/weui/weui.css}">
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/lib/mui/css/mui.css}">
    <link rel="stylesheet" th:href="@{/lib/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/page/course.css}">
    <link th:href="@{/lib/layui/layui.js}">
    <script type="application/javascript" th:src="@{/js/vue/vue.js}"></script>
    <script type="application/javascript" th:src="@{/js/jquery.js}"></script>
    <script type="application/javascript" th:src="@{/js/home/course.js}"></script>
    <script type="application/javascript" th:src="@{/lib/mui/js/mui.js}"></script>
</head>
<body>

</body>
</html>