<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>首页</title>
    <link rel="stylesheet" th:href="@{/css/weui/weui.css}">
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/lib/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/page/home.css}">
    <link th:href="@{/lib/layui/layui.js}">
    <script type="application/javascript" th:src="@{/js/jquery.js}"></script>
</head>
<body>
<div id="customer" style="display: none">
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this">金融话题</li>
            <li>投资技能</li>
            <li>大咖观点</li>
            <li>市场活动</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div id="articles">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img th:src="@{/lib/layui/images/face/0.gif}" class="card-img" alt="haha">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h1 class="card-title">1990年崩溃的日本经济，给了投资人多少教训？深度数据大揭秘，不得不看</h1>
                                    <br><br>
                                    <p class="card-text">
                                        <small class="text-muted">大龙 15评论 10分钟前</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-tab-item">内容2</div>
            <div class="layui-tab-item">内容3</div>
            <div class="layui-tab-item">内容4</div>
        </div>
    </div>
</div>
<div id="sales">
    <div id="toplun">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="..." class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    </div>
    <div class="four">
        <div class="row">
            <div class="col border border-primary text-center">
                服务预约</div>
            <div class="col border border-primary text-center">
                名片分享</div>
            <div class="col border border-primary text-center">
                海报分享</div>
            <div class="col border border-primary text-center">
                转发助手</div>
        </div>
    </div>

    <div class="centerinline">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="#">基金</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">股票</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">海外资产配置</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">系列课</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">其他</a>
            </li>
        </ul>
    </div>
    <div id="articless">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="..." class="card-img" alt="haha">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">1990年崩溃的日本经济，给了投资人多少教训？深度数据大揭秘，不得不看</h5>
                        <br>
                        <p class="card-text">
                            <small class="text-muted">大龙 15评论 10分钟前</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script th:src="@{/lib/layui/layui.js}"></script>
<script th:src="@{/lib/bootstrap/js/bootstrap.js}"></script>
<script>
    layui.use('element', function () {
        var element = layui.element;

        //一些事件监听
        element.on('tab(demo)', function (data) {
            console.log(data);
        });
    });
</script>
</body>
</html>