<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>首页</title>
    <script type="application/javascript" th:src="@{/js/jquery.js}"></script>
    <link rel="stylesheet" th:href="@{/css/weui/weui.css}">
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/lib/mui/css/mui.css}">
    <link rel="stylesheet" th:href="@{/lib/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/page/home.css}">
    <script type="application/javascript" th:src="@{/lib/mui/js/mui.js}"></script>
    <script type="application/javascript" th:src="@{/js/home/home.js}"></script>

    <meta name="dafaultacatalogid" th:content="${articleModel.defaultacatalogid}"/>


</head>
<body>


<br>
<div th:if="${#authorization.expression('hasRole(''ROLE_USER'')')} or ${#authentication.name=='anonymousUser'}"
     id="customer">
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title catalog-content-container">
            <li class="layui-this article-query-by-catalog" catalogId="6">金融话题</li>
            <li class="article-query-by-catalog" catalogId="7">投资技能</li>
            <li class="article-query-by-catalog" catalogId="8">大咖观点</li>
            <li class="article-query-by-catalog" catalogId="9">市场活动</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div id="articles">
                    <div class="card"
                         th:each="article:${articleModel.articleList}">
                        <a th:href="${#authentication.name=='anonymousUser'?'/home/article/'+article.id:'/home/article/'+article.id+'?uid='+#authentication.principal.id}">
                            <div class="row no-gutters">
                                <div th:if="${article.avatar}!=null" class="col-4">
                                    <img src="..." th:src="${article.avatar}" class="card-img">
                                </div>
                                <div class="col-8">
                                    <div class="card-body">
                                        <h6 class="card-title text-dark" th:text="${article.title}">
                                            1990年崩溃的日本经济，给了投资人多少教训？深度数据大揭秘，不得不看</h6>
                                        <br>
                                        <p class="card-text">
                                            <small class="text-muted">[[${article.author}]] &nbsp;[[${article.commentSize}]]评论
                                                &nbsp;[[${article.timeDifference}]]
                                            </small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
            <!--<div class="layui-tab-item">内容2</div>-->
            <!--<div class="layui-tab-item">内容3</div>-->
            <!--<div class="layui-tab-item">内容4</div>-->
        </div>
    </div>
</div>

<div id="sales" sec:authorize="hasRole('ROLE_SALES')">

    <div class="mui-slider">
        <div class="mui-slider-group">
            <div class="mui-slider-item" th:each="carousel:${articleModel.carousels}">
                <a th:href="'/home/article/'+${carousel.article.id}">
                    <img th:src="${carousel.picPath}" style="max-height: 100px"/>
                </a>
            </div>
        </div>
    </div>

    <div class="four">
        <div class="row">
            <div class="col border border-primary text-center">
                服务预约
            </div>
            <div class="col border border-primary text-center">
                名片分享
            </div>
            <div class="col border border-primary text-center">
                海报分享
            </div>
            <div class="col border border-primary text-center">
                转发助手
            </div>
        </div>
    </div>

    <div class="centerinline catalog-content-container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <span class="nav-link article-query-by-catalog" catalogId="1">基金</span>
            </li>
            <li class="nav-item">
                <span class="nav-link article-query-by-catalog" catalogId="2">股票</span>
            </li>
            <li class="nav-item">
                <span class="nav-link article-query-by-catalog" catalogId="3">海外资产配置</span>
            </li>
            <li class="nav-item">
                <span class="nav-link article-query-by-catalog" catalogId="4">系列课</span>
            </li>
            <li class="nav-item">
                <span class="nav-link article-query-by-catalog" catalogId="5">其他</span>
            </li>
        </ul>
    </div>
    <div id="articless">
        <div class="card" th:each="article:${articleModel.articleList}">

            <a th:href="${#authentication.name=='anonymousUser'?'/home/article/'+article.id:'/home/article/'+article.id+'?uid='+#authentication.principal.id}">
                <div class="row no-gutters">
                    <div th:if="${article.avatar}!=null" class="col-4">
                        <img src="..." th:src="${article.avatar}" class="card-img">
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h6 class="card-title text-dark" th:text="${article.title}">
                                1990年崩溃的日本经济，给了投资人多少教训？深度数据大揭秘，不得不看</h6>
                            <br>
                            <p class="card-text">
                                <small class="text-muted">[[${article.author}]] &nbsp;[[${article.commentSize}]]评论
                                    &nbsp;[[${article.timeDifference}]]
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


<script th:src="@{/lib/layui/layui.js}"></script>
<script th:src="@{/lib/bootstrap/js/bootstrap.js}"></script>
<script>
    layui.use('element', function () {
        var element = layui.element;

        //一些事件监听
        element.on('tab(demo)', function (data) {
            console.log(data);
        });
    });

    var nowcatalog = $("meta[name='dafaultacatalogid']").attr("content");
    console.log(nowcatalog);

    var productnowpage = 1;
    var productnowrefresh = false;


    $(".catalog-content-container").on("click", ".article-query-by-catalog", function () {
        console.log("adsfadsfds")
        console.log($(this).attr('catalogId'))
        nowcatalog = $(this).attr('catalogId');
        productnowpage = 1;
    });


    $(window).scroll(function () {

        var scrollTop = $(this).scrollTop();
        var scrollHeight = $(document).height();
        var windowHeight = $(this).height();
        // console.log(scrollTop + windowHeight + ":" + scrollHeight + "--")
        if (scrollTop + windowHeight > scrollHeight - 50) {

            if (productnowrefresh == false) {
                productnowrefresh = true

                $.ajax({
                    url: "/home",
                    data: {
                        async: true,
                        pageIndex: productnowpage,
                        catalog: nowcatalog
                    },
                    success: function (data) {
                        productnowrefresh = false
                        // console.log(data)
                        console.log($(data).children())
                        $(data).children().each(function () {
                            console.log(this)
                            $("#articless").append(this)

                            // console.log(item.innerHTML)

                        })

                        // $("#articless").append(data)
                        productnowpage = productnowpage + 1;

                    },
                    error: function () {
                        toastr.error("error");
                    }
                })
            }
        }

    });


</script>
</body>
</html>