.layui-tab-title li{
    padding: 0;
    width:25%;
}
#toplun{
    margin-top: 5px;
    margin-bottom: 10px;
}
.centerinline{
    margin-top: 10px;
    margin-bottom: 20px;
}
.four>div {
    margin-left: 10px;
    margin-right: 10px;
}
.four{
    margin-bottom: 10px;
    font-size: 16px;
}
.four>div>div {
    line-height: 45px;
    height: 45px;
    padding: 0;
    margin-top: 10px;
    margin-left: 1px;
    margin-bottom: 10px;
}
.centerinline{
    font-size: 12px;
}