.row li{
    width: 120px;
    margin-left: 45px;

}
.row li a{
    height: 80px;
    line-height: 64px;
}
.little{
    font-size: 14px;
}
table th{
    width: 33.33%;
}
table{
    width: 100%;
}
th{
    text-align: center !important;
}
.catalog-content-container li{
    margin-left: -20px;
}
.catalog-content-container {
    margin-left: 18px;
}