<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/lib/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/js/toastr.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap/css/bootstrap.min.css}">
</head>
<body>


<div th:if="${ishared==true}">
    <div class="alert alert-primary" role="alert" style="margin-top: 2px">
        <img th:src="${shareduseravatar}" alt="" style="max-height: 20px">
        <span th:text="${sharedusernickname}"></span>
        <a th:href="${'tel:'+shareduserphonenum}" style="float: right;">
            <img src="/img/phone.png" alt="" style="max-height: 20px">
        </a>
    </div>
</div>

<!-- Page Content -->
<div class="container article-content-container">


    <div class="row">

        <div class="col-md-8">


            <div class="card mb-4">
                <div class="card-block">
                    <h2 class="card-title">
                        <a class="card-link"
                           th:href="'/home/article/' + ${articleModel.id}"
                           th:text="${articleModel.title}"></a>
                    </h2>
                    <div class="card-text">
                        <span th:text="${articleModel.author}"></span>
                        发表于 [[${#dates.format(articleModel.createTime, 'yyyy-MM-dd
                        HH:mm')}]]
                    </div>
                    <hr>
                    <article class="post-content" th:utext="${articleModel.htmlContent}">

                    </article>
                    <hr>
                </div>

                <div class="card-block">
                    <h5>评论：</h5>
                    <div class="row" id="content">
                        <div class="col-lg-12">
                            <textarea class="blog-textarea" id="commentContent" placeholder="说说你的看法"></textarea>
                        </div>
                    </div>
                    <button class="btn btn-primary float-right submitcontent">发表评论</button>
                </div>

                <div class="card-block" id="mainContainer">
                    <div class="row" id="mainContainerRepleace" th:each="comment,commentStat:${comments}"
                         th:object="${comment}">
                        <h2 class="card-title col-lg-1 col-md-2">
							<span>
			                    <img th:src="*{user.avatar}==null?'/img/github.svg':*{user.avatar}"
                                     class="blog-avatar-50">
					        </span>
                        </h2>
                        <div class="card-text col-lg-11 col-md-10">
                            <span class="card-link" th:text="*{user.username}">dewitt</span>
                            [[${commentStat.index}+1]]楼
                            [[${#dates.format(comment.createTime,'yyyy-MM-dd HH:mm')}]]
                            <a href="javascript:void(0)" class="article-delete-comment"
                               th:if="${commentOwner} eq *{user.username}"
                               th:attr="commentId=*{id}">删除</a>
                            <p th:text="*{content}">不错哦，顶起！</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<script>
    var articleId = [[${articleModel.id}]];
</script>
<script th:src="@{/js/home/comment.js}"></script>
</body>
</html>